[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

[Mm]emoryCaptures/
[Pp]rofilerCaptures/

[Aa]ssets/Plugins/Editor/JetBrains*

.idea/
.vs/
.vscode/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.pidb
*.booproj

ExportedObj/
obj/

.DS_Store
Thumbs.db

*~
*.swp
*.swo

gradle.properties

参考资料/
Note/
参考/
Assets/QuangPhan/
Assets/TutorialInfo/